<!-- navbar -->
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light rounded" style="min-width: 1110px" xmlns:th="http://www.thymeleaf.org">
    <div class="navbar-brand">Citrine Studio Online</div>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownView" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选项</a>
                <div class="dropdown-menu" aria-labelledby="dropdownView">
                    <a id="view-bulletin-btn" class="dropdown-item" href="#" data-toggle="modal" data-target="#view-bulletin" onclick="viewBulletin()">公告查看</a>
                    <div class="dropdown-divider"></div>
                    <a id="view-file-btn" class="dropdown-item" href="#" data-toggle="modal" data-target="#view-file" onclick="viewFile()">文件下载</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edict-file">文件上传</a>
                </div>
            </li>
            <li class="nav-item dropdown" th:if="${worker.role} == 'manager'">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownEdict" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理员</a>
                <div class="dropdown-menu" aria-labelledby="dropdownEdict" >
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edict-bulletin">发布公告</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edict-worker">用户添加</a>
                </div>
            </li>
        </ul>
    </div>

    <!-- 下载文件 -->
    <div class="modal fade bd-example-modal-lg" id="view-file" tabindex="-1" role="dialog" aria-labelledby="fileModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLongTitle">文件列表</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <input id="search-file" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="button" onclick="searchFile()">查询</button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <row>
                                <th scope="col"></th>
                                <th class="text-center" scope="col">名称</th>
                                <th class="text-center" scope="col">上传时间</th>
                                <th class="text-center" scope="col">上传用户</th>
                                <th class="text-center" scope="col">操作</th>
                            </row>
                        </tr>
                        </thead>
                        <tbody id="file-list">

                        </tbody>
                    </table>

                    <nav aria-label="file navigation">
                        <ul id="file-nav" class="pagination justify-content-center"></ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

    <!-- 上传文件 -->
    <div class="modal fade bd-example-modal-lg" id="edict-file" tabindex="-1" role="dialog" aria-labelledby="edict-file-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edict-file-title">File List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="upload-file-from" enctype="multipart/form-data">
                        <div class="form-group">
                            <input id="upload-file-id" name="upload-file-id" type="file" class="form-control-file">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="uploadFile()">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 查看公告 -->
    <div class="modal fade bd-example-modal-lg" id="view-bulletin" tabindex="-1" role="dialog" aria-labelledby="bulletinModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5  class="modal-title" id="view-bulletin-title">Bulletin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="jumbotron">

                        <div class="lead" id="view-bulletin-details">
                            <!-- Bulletin -->
                        </div>
                        <hr class="my-4">
                        <p >Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<label id="view-bulletin-date" class="lead"></label></p>
                        <p >Manager&nbsp;&nbsp;:&nbsp;&nbsp;<label id="view-bulletin-publisher" class="lead"></label></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 发布公告 -->
    <div class="modal fade bd-example-modal-lg" id="edict-bulletin" tabindex="-1" role="dialog" aria-labelledby="edict-bulletin-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bulletin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <label for="edict-bulletin-title"></label>
                        <input type="text" class="form-control" id="edict-bulletin-title" aria-describedby="basic-addon3">
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Bulletin</span>
                        </div>
                        <textarea id="edict-bulletin-details" class="form-control" aria-label="With textarea" style="min-height: 400px"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="edict-bulletin-save" type="button" class="btn btn-primary" onclick="publishBulletinDetails()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 用户添加 -->
    <div class="modal fade" id="edict-worker" tabindex="-1" role="dialog" aria-labelledby="edict-worker-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edict-worker-title">Worker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="add-worker-name-input" class="col-sm-2 col-form-label lead">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control lead" id="add-worker-name-input" placeholder="Example : Tom White" minlength="1" maxlength="15">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-worker-email-input" class="col-sm-2 col-form-label lead" >邮箱</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control lead" id="add-worker-email-input" placeholder="Example : example@citrine.studio">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label lead" for="add-worker-gender-select">性别</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="add-worker-gender-select">
                                <option value="m" class="lead" selected>男性</option>
                                <option value="f" class="lead">女性</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label lead" for="add-worker-role-select">角色</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="add-worker-role-select">
                                <option value="worker" class="lead" selected>员工</option>
                                <option value="manager" class="lead">管理员</option>
                            </select>
                        </div>
                    </div>

                    <div id="add-worker-permission-form" class="form-group row" style="display: none">
                        <label class="col-sm-2 col-form-label lead" for="add-worker-permission-select">权限</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="add-worker-permission-select">
                                <option value="view#edict#download#upload#update" class="lead" selected>普通管理员</option>
                                <option value="view#edict#download#upload#update#delete" class="lead">超级管理员</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="addWorker()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 权限更改 -->
    <div class="modal fade" id="edict-worker-permission" tabindex="-1" role="dialog" aria-labelledby="edict-worker-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edict-worker-permission-title">权限更改</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label lead" for="worker-permission-status-select">状态</label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="worker-permission-status-select">
                                <option value="i" class="lead" selected>在职</option>
                                <option value="q" class="lead">离职</option>
                                <option value="v" class="lead">休假</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label lead" for="worker-permission-role-select">角色</label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="worker-permission-role-select">
                                <option value="worker" class="lead" selected>Worker</option>
                                <option value="manager" class="lead">Manager</option>
                            </select>
                        </div>
                    </div>

                    <div id="worker-permission-permission-form" class="form-group row" style="display: none">
                        <label class="col-sm-3 col-form-label lead" for="worker-permission-permission-select">权限</label>
                        <div class="col-sm-9">
                            <select class="custom-select" id="worker-permission-permission-select">
                                <option value="view#edict#download#upload#update" class="lead" selected>普通管理员</option>
                                <option value="view#edict#download#upload#update#delete" class="lead">超级管理员</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="edictWorkerPermission()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>