<div th:fragment="self_info" class="top" xmlns:th="http://www.thymeleaf.org">
    <form class=" form-inline my-2 my-md-0 nav-item dropdown">

        <img id="u-pic" th:src="${worker.portrait}" src="" alt="..." class="rounded-circle " style="width: 40px; height: 40px;">
        &nbsp;&nbsp;&nbsp;<a class="dropdown-toggle" href="#" id="dropdownInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${worker.name}"></a>

        <div class="dropdown-menu" aria-labelledby="dropdownInfo">

            <a id="worker-uid" style="display: none;" th:text="${worker.id}"></a>
            <a id="worker-name-hide" style="display: none;" th:text="${worker.name}"></a>
            <a id="worker-email-hide" style="display: none;" th:text="${worker.email}"></a>
            <a id="worker-role-hide" style="display: none;" th:text="${worker.role}"></a>
            <a id="worker-permission-hide" style="display: none" th:text="${worker.permission}"></a>

            <a  class="dropdown-item" href="#"  th:text="'姓名&nbsp;&nbsp;:&nbsp;&nbsp;' + ${worker.name}"></a>
            <div class="dropdown-divider"></div>
            <div th:switch="${worker.gender}">
                <a class="dropdown-item" href="#" th:case="'f'">性别&nbsp;&nbsp;:&nbsp;&nbsp;女性</a>
                <a class="dropdown-item" href="#" th:case="'m'">性别&nbsp;&nbsp;:&nbsp;&nbsp;男性</a>
                <a class="dropdown-item" href="#" th:case="'u'">性别&nbsp;&nbsp;:&nbsp;&nbsp;未知</a>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" th:text="'邮箱&nbsp;&nbsp;:&nbsp;&nbsp;' +  ${worker.email}"></a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"  th:text="'权限&nbsp;&nbsp;:&nbsp;&nbsp;' + ${worker.role}"></a>

            <div class="dropdown-divider"></div>
            <div th:switch="${worker.status}">
                <a class="dropdown-item" href="#" th:case="'i'">状态&nbsp;&nbsp;:&nbsp;&nbsp;在职</a>
                <a class="dropdown-item" href="#" th:case="'v'">状态&nbsp;&nbsp;:&nbsp;&nbsp;休假</a>
                <a class="dropdown-item" href="#" th:case="'q'">状态&nbsp;&nbsp;:&nbsp;&nbsp;离职</a>
            </div>

            <div class="dropdown-divider"></div>
            <button type="button" class="btn btn-danger dropdown-item " data-toggle="modal" data-target="#edict-worker-info">修改资料</button>
            <div class="dropdown-divider"></div>
            <button type="button" class="btn btn-danger dropdown-item " onclick="outLanding()">注销</button>
            <script th:inline="javascript">
                function outLanding () {

                    console.log("logout");

                    const url = "token";

                    const general = {
                        method: METHOD_DELETE
                    };

                    fetch(url, general)
                        .then(response => { return response.json() })
                        .then(function (result) {
                            if (result.meta.status === 200) {
                                window.location.href = '/'
                            }
                        })
                        .catch(error => console.log(error))
                }
            </script>
        </div>
<!--        修改资料-->
        <div class="modal fade" id="edict-worker-info" tabindex="-1" role="dialog" aria-labelledby="edict-worker-info-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edict-worker-info-title">修改资料</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row" >
                            <label for="updatePortrait" class="col-sm-2 col-form-label">头像</label>
                            <div class="col-sm-10">
                                <img  th:src="${worker.portrait}" src="" alt="..." class="rounded-circle " style="max-width: 40px; height: 40px;">
                            </div>
                        </div>
                        <form id="updatePortrait" enctype="multipart/form-data">
                            <input id="upload-portrait-id" name="upload-file-id" type="file" class="form-control-file">
                        </form>
                        <div class="dropdown-divider"></div>
                        <div class="form-group row">
                            <label for="updateEmail" class="col-sm-2 col-form-label">邮箱</label>
                            <div class="col-sm-10">
                                <input id="updateEmail" type="text" readonly class="form-control-plaintext"  th:value="${worker.email}">
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="form-group row">
                            <label for="updateName" class="col-sm-2 col-form-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="updateName" th:value="${worker.name}">
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label lead" for="updateGender">性别</label>
                            <div class="col-sm-10">
                                <select class="custom-select" id="updateGender">
                                    <option value="m" class="lead">男性</option>
                                    <option value="f" class="lead">女性</option>
                                </select>
                            </div>
                        </div>

                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="edictWorkerInfo()">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
</div>

<div th:fragment="chat_info" xmlns:th="http://www.thymeleaf.org">
    <div class="top">
        <div class="dropdown">To:
            <a id="chat-name-top" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="getWorkerInfo()"></a>
            <div id="info-dropdown-menu" class="dropdown-menu" aria-labelledby="chat-name">
                <a id="chat-name" class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a id="chat-email" class="dropdown-item" href="mailto:XXX@126.com"></a>
                <div class="dropdown-divider"></div>
                <a id="chat-gender" class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a id="chat-role" class="dropdown-item" href="#"></a>
                <div class="dropdown-divider"></div>
                <a id="chat-status" class="dropdown-item" href="#"></a>
                <div class="dropdown-divider" th:if="${worker.role} == 'manager'"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edict-worker-permission" th:if="${worker.role} == 'manager'">权限更改</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="getHistory()" data-toggle="modal" data-target="#chat-history">聊天记录</a>
            </div>
        </div>
    </div>

    <!-- 历史记录 -->
    <div class="modal fade" id="chat-history" tabindex="-1" role="dialog" aria-labelledby="chat-history-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chat-history-title">历史记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <input id="search-msg" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="button" onclick="getHistory()">查询</button>
                    </div>
                    <!-- 聊天信息展示面板 -->
                    <div class="chat active-chat" data-chat="person" style="padding-bottom: 0">
                        <div id="history" class="scroll scroll-chat"></div>
                    </div>
                    <nav aria-label="file navigation">
                        <ul id="msg-nav" class="pagination justify-content-center"></ul>
                    </nav>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="chat-to-id-hide" style="display: none;"></div>
        <div id="chat-email-hide" style="display: none;"></div>
    </div>
</div>