<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta CONTENT="no-cache" HTTP-EQUIV="pragma">
    <meta CONTENT="no-store, must-revalidate" HTTP-EQUIV="Cache-Control">
    <meta CONTENT="Wed, 26 Feb 1997 08:21:57 GMT" HTTP-EQUIV="expires">
    <meta CONTENT="0" HTTP-EQUIV="expires">


    <meta charset="UTF-8" />
    <title>Smart IM</title>
    <!--Bootstrap-->
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!--Token-->
    <script th:src="@{/static/js/token.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/signin.css}">
</head>
<body >
    <main role="main" class="container">
        <div class="form-signin text-center">
            <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>

            <div class="form-group">
                <label for="accountHelpBlock" class="sr-only control-label">Message of failing to login </label>
<!--                <span class="form-text text-muted" id="accountHelpBlock" style="display: none" >Account Error！</span>-->
                <div id="accountHelpBlock" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none">
                    <strong>Account Error!</strong><br> You should check the account.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <label for="InputEmail" class="sr-only">Email address</label>
            <input type="email" id="InputEmail" class="form-control" placeholder="Email address" required="" autofocus="" oninput="bindUsername()">
            <span class="form-text text-muted" id="usernameHelpBlock" style="display: none">Not Email Format</span>

            <label for="InputPassword" class="sr-only">Password</label>
            <input type="password" id="InputPassword" class="form-control" placeholder="Password" required="" oninput="bindPassword()">
            <span class="form-text text-muted" id="passwordHelpBlock" style="display: none">Length Between 8 And 20</span>

            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="submitFormLogin()">Sign in</button>
            <a href="#" data-toggle="modal" data-target="#updatePwd">忘记密码?</a>
        </div>

        <div class="modal fade" id="updatePwd" tabindex="-1" role="dialog" aria-labelledby="updatePwd-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updatePwd-title">修改密码  </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            <label for="update-worker-email-input" class="col-sm-3 col-form-label lead" >邮箱</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control lead" id="update-worker-email-input" placeholder="请输入邮箱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="update-worker-idCard-input" class="col-sm-3 col-form-label lead" >身份证号</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control lead" id="update-worker-idCard-input" placeholder="请输入身份证号">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="update-worker-pwd-input" class="col-sm-3 col-form-label lead" >新密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control lead" id="update-worker-pwd-input" placeholder="请输入新密码">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="update-worker-pwd-input-c" class="col-sm-3 col-form-label lead" >确认新密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control lead" id="update-worker-pwd-input-c" placeholder="请确认新密码">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="updatePassword()">修改</button>
                            <script th:inline="javascript">

                                function updatePassword() {
                                    let email = $("#update-worker-email-input").val();
                                    let idCard = $("#update-worker-idCard-input").val();
                                    let pwd = $("#update-worker-pwd-input").val();
                                    let pwdC = $("#update-worker-pwd-input-c").val();

                                    if (pwd !== pwdC) {
                                        alert("两次输入的密码不一致!!");
                                        return
                                    }

                                    const url = 'token';

                                    const headers = new Headers({
                                        "Content-Type":"application/json;charset=UTF-8"
                                    });

                                    const data = {
                                        'email': email,
                                        'password': pwd,
                                        'idCard': idCard
                                    };

                                    const general = {
                                        headers: headers,
                                        body: JSON.stringify(data),
                                        method: 'PUT'
                                    };

                                    fetch(url, general)
                                        .then(response => { return response.json() })
                                        .then(function (result) {
                                            console.log(result);
                                            if (result.meta.status === 200) {
                                                alert(result.data)
                                            } else if (result.meta.status === 500) {
                                                alert(result.data)
                                            } else {
                                                alert(result.data)
                                            }
                                        })
                                        .catch(error => console.log(error))
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragment/footer :: footer"></div>
    </main>

</body>
</html>
